<div class="row">
  <div class="col-sm-12">
    <a href="#" class="btn btn-default btn-sm toggle-title">
      Title <i class="fa fa-sort" aria-hidden="true"></i>
    </a>
    <a href="#" class="btn btn-default btn-sm toggle-price">
      Price <i class="fa fa-sort" aria-hidden="true"></i>
    </a>
    <a href="#" class="btn btn-default btn-sm toggle-location">
      Location <i class="fa fa-sort" aria-hidden="true"></i>
    </a>
    <a href="#" class="btn btn-default btn-sm toggle-createdAt">
      Date created <i class="fa fa-sort" aria-hidden="true"></i>
    </a>
    <a href="#" class="btn btn-default btn-sm toggle-updatedAt">
      Date updated <i class="fa fa-sort" aria-hidden="true"></i>
    </a>
  </div>
</div>

<h1 class="list-header">all products:</h1>

<div class="row">
  <div class="col-sm-12">
    <% products.forEach(function(product){ %>
      <a href="/post/<%- product.id %>">
        <div class="product-line">
          <div class="row">
            <div class="col-xs-12">
              <div class="product-title"><%- product.title %><span style="float:right;">$ <%- product.price %></span></div class="product-title">
              <div>
                <strong>Location: </strong><%- product.location %>
              </div>
              <div>
                <strong>Details: </strong><%- product.details %>
              </div>
              <div>
                <strong>Created: </strong><%- product.createdAt %>
              </div>
            </div>
          </div>
        </div>
      </a>
    <% }); %>
  </div>
</div>
